.root {
    -fx-background-color: black;
}

.button {
    -fx-background-color: transparent;
}

.toggleButton {
    -fx-background-color: transparent;
}

.tool-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.separator {
    -fx-pref-width: 19px;
}

.separator .line {
    -fx-border-color: transparent transparent transparent transparent;
}

